In [14]:
from CryptoScraper import cryptoDownloader
import pandas as pd
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
cd = cryptoDownloader('LTC')

In [56]:
cd.download()

In [57]:
btc = pd.read_csv('CryptoScraper/cache/BTC.csv');
ltc = pd.read_csv('CryptoScraper/cache/LTC.csv');

In [59]:
btc[diff2 != 3600]

         Date   Open   Close   High    Low    Volume
0  1390017600  0.028  0.0285  0.029  0.028  0.023696

In [ ]:
#don't write if Date = 0