In [1]:
from CryptoScraper import cryptoDownloader, getAllData
import pandas as pd
from data_utils import BasicFunctions, PriceFunctions, addData
%load_ext autoreload
%autoreload 2

In [2]:
dr = getAllData(cacheOnly=True, how='union')

In [3]:
coinDf = dr.data()

Getting BTC data
Getting DASH data
Getting DOGE data
Getting ETH data
Getting LTC data
Getting STR data
Getting XMR data
Getting XRP data

In [4]:
coinDf['BTC'].sample(5)

             Date      Open     Close      High       Low       Volume
12652  1410321600    476.25    477.00    478.46    476.25   107.765355
9473   1398877200    446.80    448.49    448.49    446.80   111.459146
34687  1489647600   1233.60   1230.40   1235.70   1228.30  1008.738250
42381  1517346000  10135.00  10246.00  10324.00  10073.00  1781.683949
41174  1513000800  16198.00  16224.00  16350.00  16014.00  1657.758786

In [5]:
pf = PriceFunctions()

In [6]:
dataDf = pf.add_yColumns(coinDf)

In [7]:
dataDf['LTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification
Date,,,,,,,
1459911600,0.007648,0.007702,0.007730,0.007648,1.460093,0.003624,1.0
1515517200,0.017229,0.017023,0.017290,0.016889,156.763082,0.006696,0.0
1416276000,0.009865,0.009866,0.009866,0.009865,0.074035,0.000389,1.0
1420668000,0.007361,0.007360,0.007361,0.007360,0.543548,0.049688,0.0
1446469200,0.011750,0.011646,0.011803,0.011646,7.643963,0.058757,0.0

In [8]:
ad = addData(dataDf)

In [9]:
dataGo = ad.data_adder('google')

Adding google data for BTC
Adding google data for DASH
Adding google data for DOGE
Adding google data for ETH
Adding google data for LTC
Adding google data for STR
Adding google data for XMR
Adding google data for XRP

In [10]:
dataGo['XMR'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend
Date,,,,,,,,
1505098800,0.026690,0.026740,0.026740,0.026493,14.990257,0.009201,0.0,80.0
1434405600,0.002150,0.002142,0.002160,0.002110,2.868873,0.063110,0.0,1.0
1461682800,0.001825,0.001913,0.001961,0.001760,133.089732,0.090288,1.0,1.0
1428339600,0.003085,0.003053,0.003121,0.003039,2.647769,0.012946,0.0,1.0
1416160800,0.001664,0.001690,0.001690,0.001660,1.988569,0.111443,0.0,1.0

In [11]:
dataWi = ad.data_adder('wikipedia')

Adding wikipedia data for BTC
Adding wikipedia data for DASH
Adding wikipedia data for DOGE
Adding wikipedia data for ETH
Adding wikipedia data for LTC
Adding wikipedia data for STR
Adding wikipedia data for XMR
Adding wikipedia data for XRP

In [12]:
dataWi['LTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend,Wikipedia View
Date,,,,,,,,,
1450656000,0.007961,0.008027,0.008043,0.007951,3.867720,0.025728,0.0,0.0,194.0
1464098400,0.008895,0.008865,0.008920,0.008865,17.738765,0.017204,1.0,0.0,238.0
1405785600,0.014140,0.014000,0.014140,0.014000,0.290552,0.025363,0.0,1.0,0.0
1517785200,0.018122,0.018034,0.018175,0.017982,33.480962,0.006851,1.0,11.0,3006.0
1396396800,0.027100,0.027300,0.027300,0.027100,0.108388,0.087649,0.0,1.0,0.0

In [13]:
blockchainAd = ad.data_adder('blockchain')

Adding blockchain data for BTC

In [14]:
blockchainAd['BTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend,Wikipedia View,difficulty,cost-per-transaction-percent,cost-per-transaction,estimated-transaction-volume-usd,estimated-transaction-volume,hash-rate,miners-revenue,n-transactions,output-volume,transaction-fees
Date,,,,,,,,,,,,,,,,,,,
1503104400,4154.60,4139.20,4187.00,4139.20,1367.197529,0.011337,0.0,48.0,67355.0,9.232331e+11,0.686954,34.078111,7.112079e+08,168817.431900,6.930019e+06,8.768358e+06,266832.0,1.596588e+06,265.911799
1451307600,423.42,424.93,424.93,422.25,303.523212,0.005894,0.0,2.0,7240.0,9.344867e+10,1.625525,10.304902,5.866299e+07,136268.571429,7.479027e+05,1.719239e+06,166837.0,1.088093e+06,30.140513
1499767200,2317.70,2298.70,2318.70,2274.70,908.574559,0.000261,0.0,48.0,67355.0,7.086595e+11,0.918946,25.079705,4.254895e+08,195328.063957,6.939848e+06,6.117733e+06,251722.0,2.057353e+06,205.572506
1426226400,291.70,289.83,292.86,289.51,6579.094063,0.020061,0.0,2.0,7240.0,4.742755e+10,1.817649,10.437861,3.967254e+07,146013.285714,3.277115e+05,1.009811e+06,96745.0,8.242074e+05,13.878668
1400284800,448.60,448.90,448.90,448.01,44.212033,0.002233,0.0,2.0,NaN,8.853416e+09,10.417147,37.040191,6.333101e+07,124630.000000,8.053935e+04,2.058583e+06,55577.0,8.092132e+05,9.791716